body{
    margin: 0%;
    height: 100%;
    /* overflow: hidden; */
    position: relative;
}
header{
    margin-top: -1%;
    padding: 1%;
    margin-left:80% ;
nav ul a{
    text-decoration: none;
    color: white;
    margin:0 2%;
}
    /* margin-top: 0%; */
  
    /* padding-top: 0; */
    /* background-position-y: bottom; */
}
.blog{

    /* padding-top: 0%; */
    position: relative;
    background-image:linear-gradient(rgba(10, 3, 46, 0.728),rgba(10, 3, 46, 0.728)) ,url(blog-images/Library.jpg);
    background-repeat: no-repeat;
    background-size:195vh;
}
.blog-introduction-part{
    display: flex;
    justify-content: space-between;
}
.profile-picture{
    margin-left: 2%;
img
{
    /* width: 90w; */
    height: 60vh;
    border-radius:8%;
}
}
.welcome-to-my-blog{
    margin-right: 20%;
    h1{
        text-align: center;
        color: aliceblue;
        font-size: 15vh;

    }
}
.lets-talk-about-books{
    position: absolute;
    overflow: scroll;
    height:100vh;
    text-align: center;
    h1{
        font-size: 10vh;
    }
    img{
        width: 20vh;
    }
}
.book{
    display: flex;
    width: 32.8vw;
}
.last-read{
    h1{
        font-size: 3vh;
    }
}
.books-I-have-read{
    display: flex;
    gap: 10%;
    margin: 2% 8%;
    /* p{

    } */
}
.more-related-books{
    display: flex;
    gap: -30%;
    margin: 1% 5% ;
    p{
        /* text-align: justify; */
        margin: 15% 5%;
    }
}
a{
    text-decoration: none;
    color: white;
}
footer{
    .contact-info{
background-color: rgb(4, 4, 38);
height: 10vh;

}
}